<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delicious Bee - 전체 리뷰</title>
  <!-- 부트스트랩 CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<script th:inline="javascript">
  document.addEventListener('DOMContentLoaded', function() {
    // 모든 카드 요소를 가져와서 반복 처리
    document.querySelectorAll('.card').forEach(function(card) {
        let starsElement = card.querySelector('.stars');
        let rating = parseFloat(starsElement.getAttribute('data-rating'));
        let ratingWidth = (rating / 5) * 100;
        let maxWidth = 100;
        
        starsElement.style.setProperty('--rating-width', (ratingWidth / 100) * maxWidth + 'px');
    });
  });
	
  // 좋아요 메서드
  function likeReview(button) {
	 	const card = button.closest('.card');
	    const reviewId = card.querySelector('.review-id').value;
		
		$.ajax({
			url: "/review/" + reviewId,
			type: "POST",
			contentType: "application/json",
			data: JSON.stringify({
				"reviewId": reviewId,
			}),
			success: function(data){
    			console.log("서버응답", data);
    			if (data.success) {
                    const likeCountElement = button.querySelector('.like-count');
                    likeCountElement.textContent = data.likeCount;
                } else {
                    alert('좋아요 처리에 실패했습니다.');
                }
    		},
    		error: function(xhr){
    			console.error('AJAX 요청 실패:', xhr);
            }
		})
	}
  
  // 삭제 메서드
  function deleteReview(button){
	  const card = button.closest('.card');
	  const reviewId = card.querySelector('.review-id').value;
	  
	  $.ajax({
		  url: "/review/delete/" + reviewId,
		  type: "POST",
		  success: function(response){
			if(response.success){
			  console.log("서버응답", response);
			  alert('리뷰가 성공적으로 삭제되었습니다.');
			  location.reload();
			}
		  },
		  error: function(xhr){
			  console.error('AJAX 요청 실패:', xhr);
		  }
	  })
  }
  
  // 신고 옵션 표시 메서드 
  function showReportReasons(button) {
	  const card = button.closest('.card');
	  const reportReasons = card.querySelector('.report-reasons');
	  if (reportReasons) {
	      reportReasons.style.display = 'block';
	  }
  }
  
  // 신고 처리 메서드
  function reportReview(button) {
	  const card = button.closest('.card');
	  const reviewId = card.querySelector('.review-id').value;
	  const reason = card.querySelector('.report-reason').value;
	  
	  console.log(reviewId);
	  console.log(reason);
	  if (!reason) {
          alert('신고 사유를 선택해주세요.');
          return;
      }
	  
	  $.ajax({
		  url: 'report/submit/' + reviewId,
		  type: 'POST',
		  contentType: "application/json",
		  data: JSON.stringify({
			  "reason": reason
		  }),
		  success: function(data){
			  if(data.success){
				  console.log(data);
				  alert('신고가 제출되었습니다');
				  card.querySelector('.report-reasons').style.display = 'none';
			  }
			  else {
				  response.put("message", "신고 제출에 실패하였습니다.");
			  }
		  },
		  error: function(xhr){
			  console.error('AJAX 통신 실패', xhr);
		  }
	  })
  }
    
</script>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mt-5">전체 리뷰</h1>
      </div>
      <div class="col-12 text-right mb-3">
        <a th:href="@{/review/write/{restaurant_id}(restaurant_id=${restaurant.id})}" class="btn btn-success">리뷰 작성하기</a>
        <a class="btn btn-secondary  ml-2" th:href="@{/review/sort(category_name=${category_name}, orderby=id)}">최신순</a>
        <a class="btn btn-secondary  ml-2" th:href="@{/review/sort(category_name=${category_name}, orderby=likeCount)}">좋아요 많은순</a>
        <a class="btn btn-secondary  ml-2">가게 정보로</a>
      </div>
    </div>
    
    <div class="card mt-3" th:each="review : ${allReview}">
      <div class="card-body">
        <h5 class="card-title" th:text="${review.beeMember.name}"></h5>
        <p class="card-text" th:text="${review.reviewContents}"></p>
        <div class="rating" data-review-id="[[${review.id}]]">
          <div class="stars" th:attr="data-rating=${review.rating}"></div>
        </div>
        <p class="rating-text">평점: [[${review.rating}]] / 5</p>
        <p>추천 메뉴: [[${review.recommendItems}]]</p>
        <p>방문 시기: [[${review.visitDate}]]</p>
        
        <div th:each="file : ${review.attachedFile}">
          <div th:if="${file.saved_filename}">
            <img th:src="@{'/review/display?filename='+${file.saved_filename}}" alt="Review Image" class="img-fluid mb-2 img-thumbnail">
          </div>
        </div>
        
        <input type="hidden" class="review-id" th:value="${review.id}">
        <button type="button" class="btn btn-primary mr-2" th:onclick="likeReview(this)">
          좋아요 <span class="like-count">[[${review.likeCount}]]</span>
        </button>
        
        <button type="button" class="btn btn-danger mr-2" onclick="showReportReasons(this)">신고 하기</button>
        <!-- 신고버튼 누르면 나오는 부분 처음에는 보이지 않음 -->
        <div class="report-reasons" style="display: none;">
        <br>
        <label for="reportReason">신고 사유 :</label>
           <select class="report-reason">
             <option value="마음에들지않아요">마음에 들지 않아요</option>
             <option value="선정적이에요">선정적이에요</option>
             <option value="테러를조장해요">테러를 조장해요</option>
             <option value="부적절해요">부적절해요</option>
             <option value="스팸이에요">스팸이에요</option>
             <option value="혐오발언이에요">혐오 발언이에요</option>
             <option value="공격적인내용이있어요">공격적인 내용이 있어요</option>
             <option value="거짓정보가포함돼있어요">거짓 정보가 포함돼 있어요</option>
             <option value="기타사유">기타 사유</option>
           </select>
          <button type="button" class="btn btn-secondary  ml-2" th:onclick="reportReview(this)">제출 하기</button>
          <br>
          <br>
        </div>
        
        <th:block th:if="${session.loginMember.member_id == review.beeMember.member_id}">
        <a class="btn btn-outline-secondary mr-2" th:href="@{/review/update/{reviewId}(reviewId=${review.id})}">수정 하기</a>
        <button type="button" class="btn btn-outline-secondary mr-2" data-bs-toggle="button" th:onclick="deleteReview(this)">삭제 하기</button>
        </th:block>
      </div>
    </div>
    
  </div>
</body>
</html>
