<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/myList.css">
<title>내가 쓴글</title>
</head>
<body>
	<header class="header">
		<a href="/" class="bee-image"> <img src="/image/bee.jpg"
			alt="메인 페이지로 이동">
		</a>
	</header>

	<main class="container">
		<nav class="sidebar">
			<ul>
				<li><a href="/member/myPage">마이 페이지</a></li>
				<li><a href="/member/myInfo">내 정보</a></li>
				<li><a href="/member/myList" class="active">내가 쓴글</a></li>
				<li><a href="/member/myReply">내가 쓴 댓글</a></li>
				<li><a href="/member/deleteMember">회원탈퇴</a></li>
			</ul>
		</nav>

		<section class="main">
            <h1>내가 쓴글</h1>
            <div class="post-list">
                <div th:if="${!myPage.beeMember.review.isEmpty()}" class="myPageReview">
                    <div th:each="review : ${myPage.beeMember.review}" class="review-box">
                        <div>
                            <span class="restaurant-name" th:text="${review.restaurant.name}"></span>
                        </div>
                        <div th:text="${review.reviewContents}" class="review_content"></div>
                        <a th:href="@{/review/allreview/{restaurantId}(restaurantId=${review.restaurant.id})}" class="detail-button">리뷰로가기</a>
                    </div>
                </div>
                <p th:unless="${!myPage.beeMember.review.isEmpty()}">작성된 리뷰가 없습니다.</p>
            </div>
        </section>
	</main>
</body>
</html>