<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/myList.css">
<title>내가 쓴댓글</title>
</head>
<body>
 <div class="header">
        <a href="/" class="bee-image">
            <img src="/image/bee.jpg" class="home-image" alt="메인 페이지로 이동">
        </a>
 </div>
 <div class=container>
 		<nav class="sidebar">
            <ul>
 				<li><a href="/member/myPage">마이 페이지</a></li>
                <li><a href="/member/myInfo">내 정보</a></li>
                <li><a href="/member/myList">내가 쓴글</a></li>
                <li><a href="/member/myReply" class="active">내가 쓴 댓글</a></li>
                <li><a href="/member/deleteMember">회원탈퇴</a></li>
 			</ul>
        </nav>
        <div class="main">
        	<h1>내가 쓴댓글</h1>
           
        </div>
</div>
</body>
</html>