<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/passwordChange.css">
<title>패스워드 변경</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function deleteConfirm() {
		
	    return confirm("정말로 변경하시겠습니까?");
	
}
</script>
</head>
<body>
    <div class="header">
        <a href="/" class="bee-image">
            <img src="/image/bee.jpg" class="home-image" alt="메인 페이지로 이동">
        </a>
    </div>
    <div class="contents">
        <form action="/member/passwordChange" method="POST" onsubmit="return formCheck()">
            <h1 class="title">비밀번호 변경</h1>
            <div th:if="${samePasswordError}" th:text="${samePasswordError}" style="color: red;"></div> 
            <div class="info">
                <span>새로운 비밀번호</span>
                <input type="password" name="password" placeholder="새로운 비밀번호 (4~20자)" required>
            </div>
            <div class="info">
                <span>새로운 비밀번호 확인</span>
                <input type="password" name="confirmPassword" placeholder="새로운 비밀번호 확인" required>
            </div>
            <div class="buttons">
                <button type="submit" class="change">비밀번호 변경하기</button>
                <a href="/member/myInfo" class="back-button" text-decoration: none;>돌아가기</a>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
	
    function formCheck() {
    	
        let updatePassword = $("input[name='password']").val();
        let confirmPassword  = $("input[name='confirmPassword']").val();
        
        if (updatePassword.length < 4 || updatePassword.length > 20) {
            alert("비밀번호는 4~20자여야 합니다.");
            updatePassword.focus();
            return false;
        }
        
    	 // 비밀번호 확인 검증
        if (updatePassword !== confirmPassword) {
            alert("비밀번호가 서로 다릅니다");
            updatePassword.focus();
            return false;
        }
        if (confirm("정말로 변경하시겠습니까?")) {
            return true; // 확인을 누르면 폼 제출
        } else {
            return false; // 취소를 누르면 폼 제출 취소
        }
    }
    	 </script>
</body>
</html>