<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/default.css">
    <title>정보 수정</title>
</head>
<body>
<div class="header">
        <a href="/" class="bee-image">
            <img src="/image/bee.jpg" class="home-image" alt="메인 페이지로 이동">
        </a>
 </div>
 <div class=container>
 		<div class="contents">
 			<ul>
 				<li>
 				<li>
 				<li>
 				<li>
 				<li>
 				<li>
 				<li>
 			</ul>
 		</div>
        <div class="main">
        	<h1>내 정보</h1>
            <div class="info">
                <h4>이름</h4>
                <div class="name" th:text="${loginMember.name}"></div>
            </div>
            <div class="info">
                <h4>아이디</h4>
                <div class="id" th:text="${loginMember.member_id}"></div>
            </div>
            <div class="info">
                <h4>비밀번호</h4>
                <input type="password" class="password">
            </div>
            
            <div class="info">
                <h4>이메일</h4>
                <input type="email" th:value="${loginMember.email}" class="email">
            </div>
            <div class="info">
                <h4>생년월일</h4>
                 <input type="date" th:value="${loginMember.birth}" class="birth">
            </div>
            <div class="info">
                <h4>성별</h4>
                <div class="gender" th:text="${loginMember.gender}"></div>
            </div>
        	 <form action="/member/updateMyInfo" method="POST">
                    <button type="submit">수정하기</button>
             </form>
        </div>
</div>
</body>
</html>
