<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/myPage.css">
<title>마이페이지</title>
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<div class="navbar-brand-group">
				<a class="navbar-brand" href="/">Delicious Bee</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a href="#"
						th:onclick="|location.href='@{/restaurant/rtwrite}'|"
						class="nav-link">맛집등록</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">커뮤니티</a></li>
					<li class="nav-item" sec:authorize="isAnonymous()"><a
						class="nav-link" id="loginButton" href="#">로그인</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a
						class="nav-link" th:href="@{/member/myPage}"
						th:text="${#authentication.principal.nickname}"></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- 로그인 모달 -->
	<div id="loginModal" class="modal">
		<div class="form-container">
			<span class="close" onclick="closeModal()">×</span>
			<p class="title">DeliciousBee</p>
			<form action="/member/login" method="post" class="form">
				<input type="text" name="member_id" class="input" placeholder="아이디">
				<input type="password" name="password" class="input"
					placeholder="비밀번호">
				<p class="page-link">
					<span class="page-link-label">Forgot Password?</span>
				</p>
				<button class="form-btn" type="submit">Log in</button>
			</form>
			<div class="buttons-container">
				<a th:href="@{/oauth2/authorization/google}"
					class="google-login-button"> <svg stroke="currentColor"
						fill="currentColor" stroke-width="0" version="1.1" x="0px" y="0px"
						class="google-icon" viewBox="0 0 48 48" height="1em" width="1em"
						xmlns="http://www.w3.org/2000/svg">
                        <path fill="#FFC107"
							d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12 c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24 c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
                        <path fill="#FF3D00"
							d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657 C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
                        <path fill="#4CAF50"
							d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36 c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
                        <path fill="#1976D2"
							d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571 c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                    </svg> <span>Log in with Google</span>
				</a>
			</div>
			<p class="sign-up-label">
				Don't have an account?<span class="sign-up-link">Sign up</span>
			</p>
		</div>
	</div>
	<form th:action="@{/member/updateMyPage}" onsubmit="return formCheck()"
		method="POST">
		<div class="main-info">
			<!-- 메인 이미지 -->
			<label for="mainImageInput" data-hover-text="프로필 이미지 변경">
   				 <img th:if="${myPage.mainImage == null}" src="/myPageImage/no-img.png" alt="기본 이미지" class="default-main-image profile-photo">
    			 <img th:unless="${myPage.mainImage == null}" th:src="'/myPageImage/' + ${myPage.mainImage.savedFilename}" alt="메인 이미지" >
   				 <input type="file" name="mainImage" id="mainImageInput" accept="image/*" style="display: none;">
			</label>

			
			<!-- 프로필 이미지 -->
			<div class="profile-image">
				<img th:if="${myPage.beeMember.profileImage == null}"
					src="/image/bee.jpg" alt="기본 이미지" class="default-main-image">
				<img th:unless="${myPage.beeMember.profileImage == null}"
					th:src="'/myPageImage/' + ${myPage.profileImage.savedFilename}"
					alt="메인 이미지" class="main-image">
			</div>
		</div>


		<div class="myPageOwner">
			<div class="owner-profile">
				<div class="nickname-header">
					<h4 class="nickname"
						th:text="${myPage.beeMember.nickname} + ' 님의 마이페이지' "></h4>
					<a class="myinfo-button" th:href="@{/member/myInfo}">내 정보</a>
				</div>
				<h4 class="intro-title">소개글</h4>
				<input type="text" name="introduce" id="introduceInput"
					th:value="${myPage.introduce}"
					th:placeholder="${myPage.introduce == null || myPage.introduce.isEmpty()} ? '소개글을 입력하세요' : ''"
					maxlength="100" oninput="updateCharacterCount()">
				<p id="charCount">0/100 자</p>
			</div>


			<div class="owner-stats">
				<span th:text="'리뷰한수 : ' + ${myPage.beeMember.review.size()}"></span>
				<span th:text="'평균 별점 : (' + ${averageRating} + '/5.0)'"></span> <span
					th:text="'조회수: ' + ${myPage.hit}"></span> <span
					th:text="'오늘 방문자 수: ' + ${todayVisitCount}"></span> <a
					class="today_visitor" onclick="showVisitorsModal()">오늘의 방문자보기</a>
			</div>
		</div>

		<!-- 오늘의 방문자 목록 모달 -->
		<div id="visitorsModal" class="modal">
			<div class="visit-modal-content">
				<span class="close" onclick="closeVisitorsModal()">×</span>
				<h3>오늘의 방문자</h3>
				<ul>
					<li th:each="visit : ${visitors}"><a
						th:href="@{/member/myPage(id=${visit.visitor.myPage.id})}"
						th:text="${visit.visitor.nickname}"></a></li>
				</ul>
			</div>
		</div>

		</div>
		<div class="review-sort-container">
			<select id="reviewSort" class="sort-select" onchange="sortReviews()">
				<option value="createDate">리뷰 작성 날짜순</option>
				<option value="visitDate">방문 날짜순</option>
			</select>
		</div>
		<div class="myPageMain">
			<div id="reviewListContainer" th:if="${!reviews.isEmpty()}"
				class="myPageReview">
				<div th:each="review, status : ${reviews}" class="review-box"
					th:id="'reviewBox' + ${status.index}">
					<div class="restaurant_name_head">
						<span><img src="/image/bee.jpg" alt="벌 이미지"
							style="width: 35px; height: 35px; object-fit: cover;"></span> <a
							th:href="@{/restaurant/rtread(id=${review.restaurant.id})}"
							title="식당 정보로 이동"> <span th:text="${review.restaurant.name}"
							class="restaurant_name" style="text-decoration: none;"></span>
						</a>
						<div class="rating-stars">
							<span th:each="i : ${#numbers.sequence(1, 5)}"> <img
								th:if="${review.rating >= i}" src="/myPageImage/full_star.png"
								alt="꽉 찬 별"> <img th:unless="${review.rating >= i}"
								src="/myPageImage/empty_star.png" alt="빈 별">
							</span>
						</div>
						<span class="review-date"
							th:text="'방문 날짜 :   ' + ${review.visitDate}"></span> <span
							class="go-review"> <a
							th:href="@{/restaurant/rtread/{restaurantId}(restaurantId=${review.restaurant.id}, reviewId=${review.id})}">리뷰보러
								가기</a>
						</span>
					</div>
					<div class="img-and-review">
						<div class="image-box"
							th:if="${review.attachedFile != null and !review.attachedFile.isEmpty()}">
							<div th:each="file : ${review.attachedFile}">
								<div th:if="${file.saved_filename}">
									<img
										th:src="@{'/review/display?filename='+${file.saved_filename}}"
										alt="Review Image"
										style="width: 160px; height: 160px; object-fit: cover;">
								</div>
							</div>
						</div>
						<div class="image-box"
							th:unless="${review.attachedFile != null and !review.attachedFile.isEmpty()}">
							<img src="/myPageImage/no-review-img.jpg" alt="No Review Image"
								style="width: 160px; height: 160px; object-fit: cover;">
						</div>
						<div class="review-main">
							<div class="review-rating">
								<p>
									친절 포인트: <span class="gauge-container"> <span
										class="gauge"
										th:style="'width:' + ${review.kindRating * 33.33} + '%'"></span>
									</span> 맛 포인트: <span class="gauge-container"> <span
										class="gauge"
										th:style="'width:' + ${review.tasteRating * 33.33} + '%'"></span>
									</span> 가격 포인트: <span class="gauge-container"> <span
										class="gauge"
										th:style="'width:' + ${review.priceRating * 33.33} + '%'"></span>
									</span>
								</p>
							</div>
							<div class="review-comment">
								<div class="recommendItems">
									<span>추천 메뉴: </span> <span
										th:each="reviewMenu, iterStat : ${review.reviewMenuList}"
										th:text="${reviewMenu?.menu?.name 
                  					 ?: reviewMenu?.customMenuName 
                   					?: ''} + ${!iterStat.last ? ', ' : ''}"></span>
								</div>
								<div class="review_content"
									th:id="'reviewContent' + ${review.id}"
									th:data-short-content="${review.reviewContents.length() > 100 ? review.reviewContents.substring(0, 100) : review.reviewContents}"
									th:data-full-content="	${review.reviewContents}">
									<span th:if="${review.reviewContents.length() > 100}"
										th:text="${review.reviewContents.substring(0, 100)} + '...'">
									</span> <span th:unless="${review.reviewContents.length() > 100}"
										th:text="${review.reviewContents}"> </span>
									<button th:if="${review.reviewContents.length() > 100}"
										th:id="'moreButton' + ${review.id}" class="more-button"
										th:attr="onclick=|toggleReview(this, '${review.id}')|">더보기</button>
								</div>
								<div class="review-create-date"
									th:text="'리뷰 작성 날짜 : '+ ${review.createDate}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="no-review"
				th:unless="${!myPage.beeMember.review.isEmpty()}">
				<div class="no-review-info">
					작성된 리뷰가 없습니다ㅠ
					<p th:if="${#authentication.isAuthenticated() and isOwner}">
						<a href="rtlist.html">리뷰 작성하러 가기</a> 👉
					</p>
				</div>
			</div>
			<div class="ranking">
				<h2>리뷰왕👑</h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th style="text-align: left;">닉네임</th>
							<th style="text-align: light; white-space: nowrap;">리뷰 수</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="myPage, status : ${reviewCount}"
							th:if="${status.index} < 4">
							<td class="center" th:if="${status.index} == 0">🥇</td>
							<td class="center" th:if="${status.index} == 1">🥈</td>
							<td class="center" th:if="${status.index} == 2">🥉</td>
							<td class="center" th:unless="${status.index} < 3"
								th:text="${status.index + 1} + ." style="padding-left: 8px;"></td>
							<td class="center"><a
								th:href="@{/member/myPage(id=${myPage.id})}"
								class="nickname-link"> <span
									th:text="${myPage.beeMember.nickname}"></span>
							</a> 님</td>
							<td class="center" style="text-align: center;"
								th:text="${myPage.beeMember.review.size()}"></td>
						</tr>
					</tbody>
				</table>
				<div class="random-review" id="randomReviewSlider">
					<h3>오늘의 리뷰</h3>
					<div th:if="${randomReview != null}" class="random-review-item">
						<a
							th:href="@{/restaurant/rtread(id=${randomReview.restaurant.id})}"
							title="식당 정보로 이동"> <span class="restaurant-name"
							th:text="${randomReview.restaurant.name}"></span>
						</a> <img
							th:if="${randomReview.attachedFile != null and !randomReview.attachedFile.isEmpty()}"
							th:each="file : ${randomReview.attachedFile}"
							th:src="@{'/review/display?filename='+${file.saved_filename}}"
							alt="Review Image"
							style="width: 200px; height: 200px; object-fit: cover;"> <img
							th:unless="${randomReview.attachedFile != null and !randomReview.attachedFile.isEmpty()}"
							src="/myPageImage/no-review-img.jpg" alt="No Review Image"
							style="width: 200px; height: 200px; object-fit: cover;">
					</div>
					<div th:unless="${randomReview != null}">
						<p>리뷰가 없습니다.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="goUpdate-button"
			th:if="${loginMember != null and loginMember.member_id == myPage.beeMember.member_id}">
			<button type="submit">저장하기</button>
		</div>
		<!-- 위로가는 화살표 버튼 -->
		<a href="#" onclick="scrollToTop()" id="scrollToTopButton"> <svg
				xmlns="http://www.w3.org/2000/svg" width="24" height="24"
				viewBox="0 0 24 24" fill="none" stroke="currentColor"
				stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="feather-arrow-up">
            <line x1="12" y1="19" x2="12" y2="5"></line>
            <polyline points="7 10 12 5 17 10"></polyline>
        </svg>
		</a>

		<div class="under-bar">
			<img src="/image/bee.jpg" class="under-image"> <span
				class="under-comment">DeliciousBee</span>
		</div>

	</form>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		// 로그인 모달 제어
		document
				.getElementById('loginButton')
				.addEventListener(
						'click',
						function(event) {
							event.preventDefault();
							document.getElementById('loginModal').style.display = 'block';
						});

		// 닫기 버튼 클릭 시 모달 닫기
		function closeModal() {
			document.getElementById('loginModal').style.display = 'none';
		}

		// 모달 외부 영역 클릭 시 모달 닫기
		window.onclick = function(event) {
			let modal = document.getElementById('loginModal');
			if (event.target == modal) {
				modal.style.display = 'none';
			}
		}
		
		//팔로워**************
		async function toggleFollow(button) {
    const followingId = button.dataset.followingId;
    const isFollowing = button.textContent === '언팔로우';
    const url = isFollowing ? `/unfollow/${followingId}` : `/follow/${followingId}`;

    try {
        const response = await fetch(url, { method: 'POST' });
        const success = await response.json(); 

        if (success) {
            // 버튼 텍스트 및 클래스 변경
            button.textContent = isFollowing ? '팔로우' : '언팔로우';
            button.classList.toggle('follow-button', !isFollowing); // 언팔로우 시 btn-secondary 추가
            button.classList.toggle('nofollow', isFollowing); // 팔로우 시 btn-primary 추가
        } else {
            alert('팔로우/언팔로우 요청에 실패했습니다.');
        }
   			 } catch (error) {
        	console.error('팔로우/언팔로우 요청 중 오류 발생:', error);
        	alert('팔로우/언팔로우 요청 중 오류가 발생했습니다.');
   		  }
		}		
		//로그인안한사람 팔로워하려할때**************
		function showLoginAlert() {
	        alert("로그인이 필요한 서비스입니다.");
	        return true; // 로그인 페이지로 이동
	    }
		
		
		//*************팔로워 팔로잉 모달****************
function showFollowersModal() {
    document.getElementById('followersModal').style.display = 'block';
}

// 팔로워 목록 모달 닫기 함수
function closeFollowersModal() {
    document.getElementById('followersModal').style.display = 'none';
}

// 팔로잉 목록 모달 열기 함수
function showFollowingModal() {
    document.getElementById('followingModal').style.display = 'block';
}

// 팔로잉 목록 모달 닫기 함수
function closeFollowingModal() {
    document.getElementById('followingModal').style.display = 'none';
}

//오늘의 방문자 목록 모달 열기 함수
function showVisitorsModal() {
    document.getElementById('visitorsModal').style.display = 'block';
}

// 오늘의 방문자 목록 모달 닫기 함수
function closeVisitorsModal() {
    document.getElementById('visitorsModal').style.display = 'none';
}

// 글자 수를 업데이트하는 함수
function updateCharacterCount() {
    const input = document.getElementById('introduceInput');
    const charCount = document.getElementById('charCount');
    const currentLength = input.value.length;

    charCount.textContent = `${currentLength}/100 자`;

    // 만약 200자를 초과하면 더 입력하지 못하도록 함
    if (currentLength > 100) {
        input.value = input.value.substring(0, 100); // 200자까지만 남김
    }
}

// 페이지 로드 시 초기 글자 수 설정
window.onload = function() {
    updateCharacterCount();
};

function formCheck() {
 	 

    if (confirm("정보를 수정하시겠습니까?")) {
    	
        return true;
    } else {
        return false;
    }
}

//위로가는 화살표 버튼 클릭 이벤트
function scrollToTop() {
    window.scrollTo({
        top: 0,
        behavior: 'smooth' // 부드러운 스크롤 효과
    });
}

//이미지 미리보기
const mainImageInput = document.getElementById('mainImageInput');
const mainImagePreview = document.getElementById('mainImagePreview');

mainImageInput.addEventListener('change', function(e) {
if (e.target.files && e.target.files[0]) {
const reader = new FileReader();
reader.onload = function(e) {
	mainImagePreview.src = e.target.result;
}
reader.readAsDataURL(e.target.files[0]);
}
});

	</script>
</body>

</html>