<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/updateMyInfo.css">
<title>회원 정보 수정</title>
</head>
<body>
	<div class="header">
		<a href="/" class="bee-image"> <img src="/image/bee.jpg"
			class="home-image" alt="메인 페이지로 이동">
		</a>
	</div>
	<div class="container">
		<nav class="sidebar">
			<ul>
				<li><a href="/member/myPage">마이 페이지</a></li>
				<li><a href="/member/myInfo" class="active">내 정보</a></li>
				<li><a href="/member/myList">내가 쓴글</a></li>
				<li><a href="/member/myReply">내가 쓴 댓글</a></li>
				<li><a href="/member/deleteMember">회원탈퇴</a></li>
			</ul>
		</nav>
		<div class="update-form">
			<h1>내 정보 수정</h1>
			<form action="/member/updateMyInfo" method="POST"
				enctype="multipart/form-data" onsubmit="return formCheck()">
				<div class="info">
					<label for="profileImageInput" class="profile-image-label"
						data-hover-text="프로필 이미지 변경"> <img
						id="profileImagePreview"
						th:if="${loginMember.profileImage != null}"
						th:src="@{'/member/display?filename=' + ${loginMember.profileImage.saved_filename}}"
						alt="프로필 이미지" class="profile-photo"> <img
						id="profileImagePreview"
						th:unless="${loginMember.profileImage != null}"
						src="/myPageImage/no-profil.png" alt="기본 프로필 이미지 미리보기"
						class="profile-photo">
					</label> <input type="file" name="file" id="profileImageInput"
						accept="image/*" style="display: none;">
					
				</div>
				<div class="info">
					<h4>닉네임(2~8자)</h4>
					<input type="text" name="nickname"
						th:value="${loginMember.nickname}" required pattern=".{2,8}"
						title="닉네임은 2자에서 8자 사이로 입력해주세요.">
				</div>
				<div class="info">
					<span>아이디</span> <span class="infoWarninng">변경불가</span>
					<div class="id" th:text="${loginMember.member_id}"></div>
				</div>
				<a class="password-change" href="/member/passwordChange">비밀번호 변경</a>
				<div class="info">
					<h4>이메일</h4>
					<input type="email" name="email" th:value="${loginMember.email}"
						required>
				</div>
				<div class="info">
					<span>생년월일</span> <span class="infoWarninng">변경불가</span>
					<div class="birth" th:text="${loginMember.birth}"></div>
				</div>
				<div class="info">
					<span>성별</span> <span class="infoWarninng">변경불가</span>
					<div class="gender" th:text="${loginMember.gender}"></div>
				</div>
				<div class="info">
					<h4>내/외국인</h4>
					<select name="national" th:field="${loginMember.national}" required>
						<option value="KOREA">KOREA</option>
						<option value="FOREIGNER">FOREIGNER</option>
					</select>
				</div>
				<button type="submit">저장하기</button>
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		function formCheck() {

			let email = $("input[name='email']").val().trim();
			if (email === "") {
				alert("이메일을 입력해주세요.");
				email.focus();
				return false;
			}

			if (confirm("정보를 수정하시겠습니까?")) {

				return true;
			} else {
				return false;
			}
		}

		//이미지 미리보기
		const profileImageInput = document.getElementById('profileImageInput');
		const profileImagePreview = document
				.getElementById('profileImagePreview');

		profileImageInput.addEventListener('change', function(e) {
			if (e.target.files && e.target.files[0]) {
				const reader = new FileReader();
				reader.onload = function(e) {
					profileImagePreview.src = e.target.result;
				}
				reader.readAsDataURL(e.target.files[0]);
			}
		});
	</script>
</body>
</html>