<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/myPage.css">
<title>마이페이지</title>
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<div class="navbar-brand-group">
				<a class="navbar-brand" href="/">Delicious Bee</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a href="#"
						th:onclick="|location.href='@{/restaurant/rtwrite}'|"
						class="nav-link">맛집등록</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">커뮤니티</a></li>
					<li class="nav-item" sec:authorize="isAnonymous()"><a
						class="nav-link" id="loginButton" href="#">로그인</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a
						class="nav-link" th:href="@{/member/myPage}"
						th:text="${#authentication.principal.nickname}"></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- 로그인 모달 -->
	<div id="loginModal" class="modal">
		<div class="form-container">
			<span class="close" onclick="closeModal()">×</span>
			<p class="title">DeliciousBee</p>
			<form action="/member/login" method="post" class="form">
				<input type="text" name="member_id" class="input" placeholder="아이디">
				<input type="password" name="password" class="input"
					placeholder="비밀번호">
				<p class="page-link">
					<span class="page-link-label">Forgot Password?</span>
				</p>
				<button class="form-btn" type="submit">Log in</button>
			</form>
			<div class="buttons-container">
				<a th:href="@{/oauth2/authorization/google}"
					class="google-login-button"> <svg stroke="currentColor"
						fill="currentColor" stroke-width="0" version="1.1" x="0px" y="0px"
						class="google-icon" viewBox="0 0 48 48" height="1em" width="1em"
						xmlns="http://www.w3.org/2000/svg">
                        <path fill="#FFC107"
							d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12 c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24 c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
                        <path fill="#FF3D00"
							d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657 C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
                        <path fill="#4CAF50"
							d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36 c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
                        <path fill="#1976D2"
							d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571 c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                    </svg> <span>Log in with Google</span>
				</a>
			</div>
			<p class="sign-up-label">
				Don't have an account?<span class="sign-up-link">Sign up</span>
			</p>
		</div>
	</div>
<form th:action="@{/member/updateMyPage}" onsubmit="return formCheck()" method="POST">
	<div class="main-info">
		<!-- 메인 이미지 -->
		<img th:if="${myPage.mainImage == null}" src="/image/back.jpg"
			alt="기본 이미지" class="default-main-image"> <img
			th:unless="${myPage.mainImage == null}"
			th:src="'/myPageImage/' + ${myPage.mainImage.savedFilename}"
			alt="메인 이미지" class="main-image">

		<!-- 프로필 이미지 -->
		<div class="profile-image">
			<img th:if="${myPage.beeMember.profileImage == null}"
				src="/image/bee.jpg" alt="기본 이미지" class="default-main-image">
			<img th:unless="${myPage.beeMember.profileImage == null}"
				th:src="'/myPageImage/' + ${myPage.profileImage.savedFilename}"
				alt="메인 이미지" class="main-image">
		</div>
	</div>


	<div class="myPageOwner">
		<div class="owner-profile">
			<div class="nickname-header">
			<h4 class="nickname" th:text="${myPage.beeMember.nickname} + ' 님의 마이페이지' "></h4>
			 <a class="myinfo-button" th:href="@{/member/myInfo}">내 정보</a>
			</div>
			<h4 class="intro-title">소개글</h4>
			<input type="text" name="introduce"  id="introduceInput" th:value="${myPage.introduce}" th:placeholder="${myPage.introduce == null || myPage.introduce.isEmpty()} ? '소개글을 입력하세요' : ''"
			 maxlength="100" oninput="updateCharacterCount()">
			 <p id="charCount">0/100 자</p>
		</div>
	
		
		<div class="owner-stats">
			<span th:text="'리뷰한수 : ' + ${myPage.beeMember.review.size()}"></span>
			<span th:text="'조회수: ' + ${myPage.hit}"></span> <span
				th:text="'오늘 방문자 수: ' + ${todayVisitCount}"></span>
			<a class="today_visitor" onclick="showVisitorsModal()">오늘의 방문자보기</a>
		</div>
	</div>
	
		 <!-- 오늘의 방문자 목록 모달 -->
    <div id="visitorsModal" class="modal">
        <div class="visit-modal-content">
            <span class="close" onclick="closeVisitorsModal()">×</span>
            <h3>오늘의 방문자</h3>
            <ul>
                 <li th:each="visit : ${visitors}"> 
                <span th:text="${visit.visitor.nickname}"></span> 
            </li>
            </ul>
        </div>
    </div>
    
	
	<div class="myPageMain">
		<div th:if="${!myPage.beeMember.review.isEmpty()}"
			class="myPageReview">
			<div th:each="review : ${myPage.beeMember.review}" class="review-box">

				<div class="restaurant_name_head">
					<span><img src="/image/bee.jpg" alt="벌 이미지"
						style="width: 35px; height: 35px; object-fit: cover;"></span> <a
						th:href="@{/restaurant/rtread(id=${review.restaurant.id})}"
						title="식당 정보로 이동"> <span th:text="${review.restaurant.name}"
						class="restaurant_name"></span>
					</a>
					<div class="rating-stars">
						<span th:each="i : ${#numbers.sequence(1, 5)}"> <img
							th:if="${review.rating >= i}" src="/image/full_star.png"
							alt="꽉 찬 별"> <img th:unless="${review.rating >= i}"
							src="/image/empty_star.png" alt="빈 별">
						</span>
					</div>
					<span><a
						th:href="@{/review/allreview/{restaurantId}(restaurantId=${review.restaurant.id})}">리뷰보기</a></span>
				</div>
				<div th:each="file : ${review.attachedFile}">
					<div th:if="${file.saved_filename}">
						<img
							th:src="@{'/review/display?filename='+${file.saved_filename}}"
							alt="Review Image"
							style="width: 300px; height: 300px; object-fit: cover;">
					</div>
				</div>
				<div th:text="'추천 메뉴 : ' + ${review.recommendItems}"
					class="recommendItems"></div>
				<div th:text="'리뷰 : ' + ${review.reviewContents}"
					class="review_content"></div>

			</div>
		</div>
		<div class="noReview" th:unless="${!myPage.beeMember.review.isEmpty()}">
			<div class="no-review">작성된 리뷰가 없습니다ㅠ
			</div>
		</div>
	</div>
	
	<div class="goUpdate-button"
		th:if="${loginMember != null and loginMember.member_id == myPage.beeMember.member_id}">
		<button type="submit">저장하기</button>
	</div>
</form>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		// 로그인 모달 제어
		document
				.getElementById('loginButton')
				.addEventListener(
						'click',
						function(event) {
							event.preventDefault();
							document.getElementById('loginModal').style.display = 'block';
						});

		// 닫기 버튼 클릭 시 모달 닫기
		function closeModal() {
			document.getElementById('loginModal').style.display = 'none';
		}

		// 모달 외부 영역 클릭 시 모달 닫기
		window.onclick = function(event) {
			let modal = document.getElementById('loginModal');
			if (event.target == modal) {
				modal.style.display = 'none';
			}
		}
		
		//팔로워**************
		async function toggleFollow(button) {
    const followingId = button.dataset.followingId;
    const isFollowing = button.textContent === '언팔로우';
    const url = isFollowing ? `/unfollow/${followingId}` : `/follow/${followingId}`;

    try {
        const response = await fetch(url, { method: 'POST' });
        const success = await response.json(); 

        if (success) {
            // 버튼 텍스트 및 클래스 변경
            button.textContent = isFollowing ? '팔로우' : '언팔로우';
            button.classList.toggle('follow-button', !isFollowing); // 언팔로우 시 btn-secondary 추가
            button.classList.toggle('nofollow', isFollowing); // 팔로우 시 btn-primary 추가
        } else {
            alert('팔로우/언팔로우 요청에 실패했습니다.');
        }
   			 } catch (error) {
        	console.error('팔로우/언팔로우 요청 중 오류 발생:', error);
        	alert('팔로우/언팔로우 요청 중 오류가 발생했습니다.');
   		  }
		}		
		//로그인안한사람 팔로워하려할때**************
		function showLoginAlert() {
	        alert("로그인이 필요한 서비스입니다.");
	        return true; // 로그인 페이지로 이동
	    }
		
		
		//*************팔로워 팔로잉 모달****************
function showFollowersModal() {
    document.getElementById('followersModal').style.display = 'block';
}

// 팔로워 목록 모달 닫기 함수
function closeFollowersModal() {
    document.getElementById('followersModal').style.display = 'none';
}

// 팔로잉 목록 모달 열기 함수
function showFollowingModal() {
    document.getElementById('followingModal').style.display = 'block';
}

// 팔로잉 목록 모달 닫기 함수
function closeFollowingModal() {
    document.getElementById('followingModal').style.display = 'none';
}

//오늘의 방문자 목록 모달 열기 함수
function showVisitorsModal() {
    document.getElementById('visitorsModal').style.display = 'block';
}

// 오늘의 방문자 목록 모달 닫기 함수
function closeVisitorsModal() {
    document.getElementById('visitorsModal').style.display = 'none';
}

// 글자 수를 업데이트하는 함수
function updateCharacterCount() {
    const input = document.getElementById('introduceInput');
    const charCount = document.getElementById('charCount');
    const currentLength = input.value.length;

    charCount.textContent = `${currentLength}/100 자`;

    // 만약 200자를 초과하면 더 입력하지 못하도록 함
    if (currentLength > 100) {
        input.value = input.value.substring(0, 100); // 200자까지만 남김
    }
}

// 페이지 로드 시 초기 글자 수 설정
window.onload = function() {
    updateCharacterCount();
};

function formCheck() {
 	 

    if (confirm("정보를 수정하시겠습니까?")) {
    	
        return true;
    } else {
        return false;
    }
}
	</script>
</body>

</html>