<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<th:block th:fragment="restaurantList">
  <th:block th:each="restaurant : ${restaurants}">
    <div class="col-12 mb-4"
         th:attr="data-latitude=${restaurant.latitude}, data-longitude=${restaurant.longitude}">
      <div class="card">
        <a th:href="@{/restaurant/rtread(id=${restaurant.id})}">
          <!-- 이미지 -->
          <div th:each="file : ${restaurant.attachedFile}">
            <div th:if="${file.saved_filename}">
              <img th:src="@{'/restaurant/display?filename='+${file.saved_filename}}" alt="Restaurant Image" class="card-img-left">
            </div>
          </div>
        </a>
        <div class="card-body">
          <h4 class="badge bg-primary" th:text="|# ${restaurant.category}"></h4>
          <a th:href="@{/restaurant/rtread(id=${restaurant.id})}">
            <h2 class="card-title" th:text="${restaurant.name}"></h2>
          </a>
          <h4 class="text" th:text="${restaurant.address}"></h4>
          <small class="text-muted" th:text="${restaurant.description}|"></small>
          <div class="card-footer">
            <h3 class="card-text" th:text="|평점: ${restaurant.average_rating}★|"></h3>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</th:block>
</body>
</html>