/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* 헤더 스타일 */
.header {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.header .bee-image img {
    max-width: 100px;
}

/* 컨테이너 스타일 */
.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.sidebar {
    flex: 0 0 200px; /* 사이드바 너비를 고정 */
    padding: 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

/* 컨텐츠 스타일 */
.contents {
    flex: 1;
    padding: 20px;
    text-align: center; /* 텍스트 가운데 정렬 */
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.info {
    margin-bottom: 20px;
}

.info input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* 버튼 스타일 */
.buttons {
    display: flex;
    justify-content: center; /* 버튼 가운데 정렬 */
    gap: 10px; /* 버튼 간 간격 */
}

.delete-button {
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #333333;
}

.back-button {
    background-color: #007bff; /* 파란색 */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none; /* 밑줄 제거 */
}

.back-button:hover {
    background-color: #0056b3; /* 파란색 짙게 */
}

.sidebar a.active {
    color: yellow;
    font-weight: bold;
}