/* delete.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; /* 밝은 회색 배경 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* 전체 내용 가운데 정렬 */
    justify-content: center; /* 세로 가운데 정렬 */
    min-height: 100vh; /* 최소 높이를 화면 높이로 설정 */
}

.header {
    background-color: #FFD700; /* 밝은 노란색 */
    padding: 10px 0;
    text-align: center;
    width: 100%; /* 헤더 너비를 전체 화면으로 설정 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
}

.bee-image img {
    width: 150px;
    border-radius: 50%; /* 이미지를 둥글게 */
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center; /* 내용을 가운데 정렬 */
    gap: 20px;
    width: 100%; /* 내용 영역 너비를 전체 화면으로 설정 */
    max-width: 500px; /* 최대 너비 설정 */
    padding: 30px; /* 내용 영역 패딩 */
    background-color: #fff; /* 흰색 배경 */
    border-radius: 10px; /* 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 효과 */
}

.title {
    font-size: 36px;
    color: #333;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center; /* 내용을 가운데 정렬 */
    gap: 10px; /* 요소 간 간격 */
}

input[type="password"] {
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    text-align: center; /* 입력 필드 내용 가운데 정렬 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
}

.button-container { /* 버튼들을 담는 컨테이너 추가 */
    display: flex;
    gap: 15px; /* 버튼 간 간격 */
    justify-content: center; /* 버튼들을 컨테이너 안에서 가운데 정렬 */
}

.buttons {
    display: flex;
    justify-content: center; /* 버튼들을 컨테이너 안에서 가운데 정렬 */
}
.delete-button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #ff5733; /* 밝은 주황색 계열 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
    font-weight: bold; /* 텍스트 굵게 */
}

.delete-button:hover {
    background-color: #e44d26; /* 짙은 주황색 계열 */
}

.back-button {
    padding: 15px 30px; /* 버튼 크기 조정 */
    font-size: 18px;
    color: #fff;
    background-color: #007bff; /* 파란색 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
    font-weight: bold; /* 텍스트 굵게 */
}

.back-button:hover {
    background-color: #0056b3; /* 짙은 파란색 */
}

.home-image {
    max-width: 100%; /* 이미지 크기 조절 */
    height: auto; /* 높이 자동 조절 */
    border-radius: 50%; /* 이미지를 둥글게 */
}