/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* 헤더 스타일 */
.header {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.header .bee-image img {
    max-width: 100px;
}

/* 컨테이너 스타일 */
.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.sidebar {
    flex: 0 0 200px; /* 사이드바 너비를 고정 */
    padding: 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
.sidebar a.active {
    color: yellow;
    font-weight: bold;
}

/* 메인 콘텐츠 스타일 */
.main {
    flex: 1; /* 나머지 공간을 차지하도록 설정 */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h1 {
    margin-top: 0;
    color: #333;
}

/* 정보 박스 스타일 */
.info {
    margin-bottom: 20px;
}

.info h4 {
    margin: 0 0 5px;
    color: #555;
    font-weight: normal;
}

.info div {
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
}

/* 버튼 스타일 */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* 폼 스타일 */
form {
    margin: 0;
}

/* 프로필 사진 스타일 */
.profile-image-label {
  cursor: pointer;
  display: block; /* 이미지를 블록 요소로 만들어 클릭 영역을 넓힘 */
}

.profile-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #ddd;
  margin-bottom: 10px; /* 닉네임 입력 필드와의 간격 조정 */
}