/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* 헤더 스타일 */
.header {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.header .bee-image img {
    max-width: 100px;
}



/* 컨테이너 스타일 */
.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.sidebar {
    flex: 0 0 200px; /* 사이드바 너비를 고정 */
    padding: 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
/* 업데이트 폼 스타일 */
.update-form {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-form h1 {
    margin-top: 0;
    color: #333;
}
.password-change {
    display: inline-block; /* 블록 요소로 변환하여 패딩과 배경색 적용 */
    padding: 10px 20px; /* 내부 여백 조정 */
    background-color: #ff4757; /* 배경색 설정 (예: 빨간색) */
    color: white; /* 텍스트 색상 설정 */
    font-weight: bold; /* 텍스트를 굵게 */
    border-radius: 5px; /* 모서리 둥글게 */
    text-decoration: none; /* 텍스트 밑줄 제거 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
    margin-bottom: 10px;
}

.password-change:hover {
    background-color: #ff6b81; /* 마우스를 올렸을 때 배경색 변경 */
}

/* 정보 박스 스타일 */

.profile-image-label {
  cursor: pointer;
  display: block; /* 이미지를 블록 요소로 만들어 클릭 영역을 넓힘 */
}

.profile-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #ddd;
  margin-bottom: 10px; /* 닉네임 입력 필드와의 간격 조정 */
}
.info {
    margin-bottom: 20px;
}

.info h4, .info span {
    margin: 0 0 5px;
    color: #555;
    font-weight: normal;
}

.info div, .info input, .info select {
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
}

.info input, .info select {
    width: 100%;
    box-sizing: border-box;
}

/* 변경불가 메시지 */
.info .infoWarninng {
    color: red; 
    font-size: 10px;
}

/* 버튼 스타일 */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* 프로필 사진 스타일 */
.profile-photo {
	width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo img {
    width: 100px; /* 원하는 크기로 조정 */
    height: 100px;
    object-fit: cover; /* 이미지가 영역을 넘어가지 않도록 */
    border: 2px solid #ddd; /* 경계선 추가 */
}
